@if(shownavbar) {
    <nav class="navbar container">
        <a [routerLink]="['/dashboard']"class="logo">GEDESS</a>
        <input type="checkbox" id="toggle">
        <label for="toggle"><i class="pi pi-bars" style="font-size: 1.3rem"></i></label>
        <div class="menu">
            <ul class="list">
                <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li><a [routerLink]="['/history']">Historico</a></li>
            </ul>
        </div>
        <div class="menu">
            <ul class="list">
                <li (click)="showAlertsDialog()"  pTooltip="Alertas" tooltipPosition="bottom"><i class="pi pi-bell" style="font-size: 1.1rem"></i></li>
                <li (click)="showParamsDialog()" pTooltip="Configuración" tooltipPosition="bottom"><i class="pi pi-cog" style="font-size: 1.1rem"></i></li>
                <li style="display: flex; gap: 0.3rem;"><i class="pi pi-user" style="font-size: 1.1rem;"></i>{{_authService.currentUser().username}}</li>
                <li (click)="closeSesion()" pTooltip="Cerrar sesión" tooltipPosition="bottom"><i class="pi pi-sign-out" style="font-size: 1.1rem"></i></li>
            </ul>
        </div>
    </nav>
}

<div class="card flex justify-content-center">
    <p-dialog header="Configuración" [modal]="true" styleClass="navdialog" [(visible)]="showconfig" [style]="{ width: '25rem' }">
        <form [formGroup]="formConfig">
            <div class="flex flex-column gap-2 mb-2">
                <label class="w-full"  for="username">Valor mínimo alerta</label>
                <p-inputNumber styleClass="w-full" showButtons="true" mode="decimal" [min]="1" [max]="100" formControlName="min_alert_value"/> 
            </div>
            <div class="flex flex-column gap-2 mb-2">
                <label for="username">Valor máximo alerta</label>
                <p-inputNumber styleClass="w-full" showButtons="true" mode="decimal" [min]="1" [max]="100" formControlName="max_alert_value"/> 
            </div>
            <div class="flex flex-column gap-2 mb-2">
                <label for="username">Valor mínimo gráfica</label>
                <p-inputNumber styleClass="w-full" showButtons="true" mode="decimal" [min]="1" [max]="100" formControlName="min_chart_value"/> 
            </div>
            <div class="flex flex-column gap-2 mb-2">
                <label for="username">Valor máximo gráfica</label>
                <p-inputNumber styleClass="w-full" showButtons="true" mode="decimal" [min]="1" [max]="100" formControlName="max_chart_value"/> 
            </div>
        </form>
        <div class="flex justify-content-end gap-2 mt-4">
            <p-button label="Cancelar" [outlined]="true" severity="secondary" size="small" (onClick)="showconfig = false" />
            <p-button label="Guardar" size="small" (click)="saveConfiguration()" />
        </div>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Alertas" [modal]="true" styleClass="navdialog" [(visible)]="showalerts" [style]="{ width: '30rem', height: '25rem' }">
        @for (alert of alerts; track alert.id) {
            <div class="alert-list">
                <div style="display: flex; gap: 0.5rem; margin-bottom: 0.8rem; flex-direction: column;">
                    <p><strong>Temperatura: </strong>{{alert.value}}</p>                        
                    <p>{{alert.type==='exceed' ? messageup : messagedown}}</p>
                </div>
                <div style="text-align: end;">
                    <p>{{alert.date | date : 'medium'}}</p>
                </div>
            </div>
        }
        <ng-template pTemplate="footer">
            <div class="flex justify-content-end gap-2 mt-4">
                <p-button label="Cerrar" [outlined]="true" severity="secondary" size="small" (onClick)="showalerts = false" />                
            </div>
        </ng-template>
    </p-dialog>
</div>

<!-- <div class="card flex justify-content-center gap-2">
    <p-toast position="bottom-right" key="br" />
</div> -->